@media screen and (max-width: 980px) {
    #root {
        width: 95%;
    }
    #content-block {
        width: 65%;
        padding: 3% 4%;
    }
    .content-description, .brand-description {
        width: 100%;
    }
    aside {
        width: 20%;
    }
    aside .widget {
        padding: 8% 7%;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 650px) {
    #signBlock {
        position: absolute;
        right: 0;
        top: 30px;
    }
    .nav-list {

    }
    .site-logo {
        padding: 10px 0;
        position: static;
    }
    .site-description {
        margin: 0 0 15px;
        position: static;
    }
    #content-block {
        width: auto;
        float: none;
        margin: 20px 0;
    }
    aside {
        width: 100%;
        float: none;
        margin: 0;
    }
}

@media screen and (max-width: 480px) {
    html {
        -webkit-text-size-adjust: none;
    }
    .nav-list li {
        font-size: 90%;
        padding: 10px 8px;
    }

    .nav-list a {
        padding: 0;
    }

    .brand-img {
        max-width: 200px;
    }
}
