.brand-block {
  margin: 20px 0;
}

.brand-header {
  background: #4f3222;
  padding: 10px;
  left: 0;
  bottom: 0;
  z-index: 100;
  border-radius: 8px;
  color: #fff;
  clear: both;
}

.brand-description {
  width: 300px;
  float: left;
  margin: 20px 0;
}
.brand-description span {
  font-weight: bold;
}


.brand-img {
  margin: 20px 50px;
}
