.signBlock {
  position: absolute;
  right: 10px;
  bottom: 14px;
  width: 160px;
}

.signIn, .signOut {
  background: #8b6f47;
  color: #fff;
  border-radius: 8px;
  padding: 10px;
  margin-right: 5px;
  text-decoration: none;
}
